<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="120 seconds">
    <jmxConfigurator/>
    <!--  ===================================== Properties ========================================================= -->
    <property name="LOG_DIR" value="/var/log/ifree-mfms-http-connector/log"/>
    <property name="LOG_ROLLOVER_DIR" value="/var/log/ifree-mfms-http-connector/log.old"/>

    <property name="PATTERN_FORMAT" value="%-20(%d{yyyy-dd-MM HH:mm:ss.SSS}) %level %logger-%msg%n"/>
    <property name="MAX_HISTORY" value="60"/>
    <property name="ROLLOVER_DATE_PATTERN" value="%d{yyyy-MM-dd}"/>

    <property name="GLOBAL_LOG_LEVEL" value="INFO"/>
    <property name="CONSOLE_LEVEL" value="INFO"/>
    <property name="PERSISTENCE_LOGGER_LEVEL" value="INFO"/>

    <!--  ===================================== Common Appenders =================================================== -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LEVEL}</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN_FORMAT}</Pattern>
        </layout>
    </appender>
    <appender name="Runtime" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/runtime.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROLLOVER_DIR}/runtime.${ROLLOVER_DATE_PATTERN}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${PATTERN_FORMAT}</Pattern>
        </encoder>
    </appender>
    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROLLOVER_DIR}/error.${ROLLOVER_DATE_PATTERN}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <Pattern>${PATTERN_FORMAT}</Pattern>
        </encoder>
    </appender>

    <logger name="org.apache.catalina.core" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.boot.web.servlet" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.jmx.export.annotation" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.scheduling.annotation" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.coyote.http11" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!--  ===================================== Other ============================================================== -->
    <root level="${GLOBAL_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="Error"/>
        <appender-ref ref="Runtime"/>
    </root>
</configuration>